/* Ümumi stil */
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* İkonlar */
.nav {
    margin-top: 20px;
}

.icon {
    font-size: 18px;
    background-color: #444;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
}

.icon:hover {
    background-color: #555;
}

/* Kalkulyator və Pul Çevirici bölmələri */
.section {
    display: none; /* Başlangıçda hər şey gizlidir */
}

#calculator {
    display: block; /* Başlangıçda kalkulyator görünür */
}